{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2 animated slideInDown">
    <center>  <div id=dis class="zero">
R3V3RS3
  </div> </center>
</div>
<div class="blogcontainer">
<div class="blogtxt">
  <div class="blogtitle2">It's 2 AM and you are passing through a small village called Noida.</div>
  <p>This is descriptor text. Use if required. Lorem ipsum dolor set amet. Lorem ipsum dolor set amet.
    <br>
  <center><img src="assets/img/comic.png"></center>
  <div class="imgdesc">The lockscreen and the homescreen</div>
  </div>
  </div>

<div class="UItext">YOUR CHOICES</div>

<div class="scale75">
<center>
{% include 'yes-tile.html' %}
{% include 'no-tile.html' %}
<p>
  <p>
</center>
</div>
{% include 'footer.html' %}

{% include 'scripts.html' %}
